 *{
	 	margin: 0;
		padding: 0;			
	 }
	 body{
	 	background-color: #FFFFFF;
		background-image: url(imgs/bg.jpg);
		background-repeat: repeat-x;
		font-family: "Trebuchet MS", tahoma;
		color: #000000  ;
		font-size: 11px;
	 }
	 a{
	 	color: #000000;
	 }
	 a img{
	 	border: 0;
	 }
     div#geral{
	 	width: 932px;
		margin: 10px auto;	
	 }
		
	div#principal{
		width: 932px;
		overflow: hidden;
		clear: both;
		margin-top: 15px;
		margin-bottom:  30px;
	}
	div#esq,div#conteudo{
		float: left;
		overflow: auto;
		
	}
	div#esq{
		width: 190px;
	}
	 div#conteudo{
	 	float: right;
	 	width: 714px;
	 }
	 
	 
	 /* TOPO */
	 div#topo{
	 	height: 155px;
	 }
	 div#topo  h1{
	 	float: left;
		padding-top: 35px;
	 }
	 
	 div#topo a{
	 	color: #FFFFFF;
	 }
	 div#topo div#menu_user{
	 	float: right;
		padding-top: 10px;
	 }
	 div#topo div#menu_user img{
	 	vertical-align: middle
	 }
	 div#topo div#menu_user li{
	 	float: left;
		list-style-type: none;
		display: inline;
		margin-left: 20px;
	 }
	 div#topo div#busca{
	 	clear:both;
		float: right;
	 }
	 div#topo div#busca span input{
	 	background-image: url(imgs/bg_inputbusca.jpg);
		background-repeat: no-repeat;
		background-position: right;
		width: 340px;
		height: 23px;
		border: none 0;
		
		font-family: "trebuchet MS", verdana, "arial narrow";
		font-size: 11px;
		padding: 5px 0 0 5px;
	 }
	 div#topo div#busca *{
	 	vertical-align: middle;
		margin-left: 5px;
	 }
	 
	 
	 div#topo div#busca p.busca_av{
	 	margin-left: 324px;
		margin-bottom: 5px;
	 }
	 
	 div#esq li{
	 	list-style-type: none;
		background-image: url(imgs/bg_item.png);
		background-repeat: no-repeat;
		padding-left: 37px;
		padding-top: 12px;
	 }
	 
	 div#esq li ul{
	 	margin-top: 15px;
		margin-bottom: 15px;
	 }
	 div#esq li a.item{
	 	background-image: url(imgs/bg_item.png);
	 }
	 
	 div#esq li li{
	 	background-image: url(imgs/seta-subitem.gif);
		background-repeat: no-repeat;
		background-position: left 8px;
		padding-top: 3px;
		padding-left: 10px;
	 }
	 div#rodape{
	 	background-image: url(imgs/bg_rodape.jpg);
		height: 80px;
		text-align: center;
		padding-top: 50px;
		clear: both;
	 }
	 
div#conteudo p, div#conteudo h2, div#conteudo h3, div#conteudo form, div#conteudo table{
	margin-bottom:  20px;
}


#_container {
	margin: 0px auto;
	width: 969px;
	text-align: center;
}

#_contentcontainer {
	clear:both;
	margin: 0px auto;
	background-color:#FFFFFF;
	background-image:url(http://www.jboss.org/theme/images/common/bkgblur_right.gif);
	background-repeat:repeat-y;
	background-position:right;
	width: 980px;
	text-align: center;
}

div._mensagemErro{
	-moz-border-radius: 5px;
	-webkit-border-raius: 5px;
	background-color: rgba(200, 0, 0, 0.7);
	text-align: justify;
	width: 600px;
	text-decoration: bold;
	color: white;
	padding: 4px;
	margin-bottom: 3px;
	
}

div._mensagemInformation{
	-moz-border-radius: 5px;
	-webkit-border-raius: 5px;
	background-color: rgba(0, 200, 0, 0.7);
	text-align: justify;
	width: 600px;
	text-decoration: bold;
	color: white;
	padding: 4px;
	margin-bottom: 6px;
}

div._mensagemWarning{
	-moz-border-radius: 5px;
	-webkit-border-raius: 5px;
	background-color: rgba(100, 100, 0, 0.7);
	text-align: justify;
	width: 600px;
	text-decoration: bold;
	color: white;
	padding: 4px;
	margin-bottom: 6px;
}

div.descricaoOperacao{
	-moz-border-radius: 3px;
	-webkit-border-raius: 3px;
	background-color: rgba(0, 0, 100, 0.7);
	text-align: justify;
	width: 80%;
	text-decoration: bold;
	color: white;
	padding: 4px;
	margin: 6px;
	margin-left: auto; 
	margin-right: auto;
}

table.listagem {	
	margin-right: auto;
	width:  95%;
}


table.listagem td {
	padding: 5px 10px;
	border-bottom:  1px solid #F4F4F4;
}

table.listagem td.radio {
	height:3em;
	padding-left: 6px;
	font-size:11px;
	padding:10px 5px;
}


table.listagem thead {
	background-image: url("imgs/bg_table.jpg"); 
	background-repeat:repeat-x;
	background-color #6D9743;  
	font-weight:bold;
	text-align:left;
	color: #ffffff; 
}

table.listagem thead  td{
	padding-top:  	12px;
	text-align:  center;
	padding-bottom:  10px;
}

table.listagem .linhaImpar {
    background-color: #FBFBFB;
	padding-left: 6px;
}

table.listagem .linhaPar {
    background-color: #ffffff;
}

/*original*/

table.listagem caption {
	color:#333333;
	font-weight:bold;
	font-size:13px;
	font-family:Helvetica,sans-serif;
	background:#CCCCCC url(http://www.jboss.org/theme/images/common/bkg_greycontainer.png) repeat;
}

h1 {
	font-size:26px;
	font-weight: normal;
	display:block;
	font-family:Myriad Pro, Helvetica;
	color:#CC0000;
	letter-spacing:-.02em;
}

h2 {
	font-size:24px;
	font-weight: normal;
	display:block;
	font-family:Myriad Pro, Helvetica;
	color:#424242;
	margin-top:5px;
	font-weight:normal;
	letter-spacing:-.03em;
}

h3 {
	font-size:25px;
	font-weight: normal;
	display:block;
	font-family:Myriad Pro, Helvetica;
	color:#88201B;
	margin-top:20px;
	margin-bottom:3px;
	letter-spacing:-.03em;
}

h4 {
	font-size:20px;
	font-weight: normal;
	display:block;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica;
	color:#494949;
	margin-top:20px;
	margin-bottom:3px;
	font-weight:normal;
	letter-spacing:-.04em;	
}

h5 {
	color:#005E8F;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	font-size:16px;
	letter-spacing:-.02em;	
	margin-bottom:3px;
	margin-top:10px;
}

h6 {
	color:#545353;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	font-size:14px;
	margin-bottom:3px;
	margin-top:10px;
	letter-spacing:-.02em;	
}

h7 {
	color:#666666;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	font-size:13px;
	margin-bottom:3px;
	margin-top:10px;
	letter-spacing:-.02em;	
}

table.formulario {
	background-color:#E6E7E8;
	margin-left: auto; 
	margin-right: auto;
}

table.formulario td {
	text-align: left;
}

table.formulario th {
	text-align: right;
}

table.formulario caption {
	font-weight:bold;
	text-align:center;
	-moz-border-radius: 3px;
	-webkit-border-raius: 3px;
	background-color: rgba(0, 0, 100, 0.7);
	color: white;
	padding: 2px;
	margin-top: 7px;
}

table.formulario tfoot td{
	text-align: center;
	font-weight:bold;
	text-align:center;
	-moz-border-radius: 1px;
	-webkit-border-raius: 1px;
	background-color: rgba(0, 0, 100, 0.7);
	color: white;
	padding: 2px;
}



textarea {
	border-style: solid; border-color: rgb(209, 209, 209); background-color: rgb(243, 243, 243);
}
